h1 {
    margin: 0;
}


button {
    box-sizing: border-box;
    border: 2px solid #7B7B7B;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.06);
    outline: none;
    border-radius: 5px;
    padding: 6px 12px;
    font-size: 12px;
    cursor: pointer;
}

button.action {
    padding: 0;
    height: 36px;
    width: 36px;

    text-align: center;
    font-size: 17px;
}

button:active {
    transform: translate(0.6px, 0.6px);
}

button.action.active {
    background-color: #7B7B7B;
    color: #FFFFFF;
}

button.action:disabled {
    color: initial;
    opacity: 0.3;
    box-shadow: none;
    pointer-events: none;
}


.v-divider {
    height: 95%;
    width: 1.6px;
    background-color: #C0C0C0;
}

h1 {
    font-size: 19px;
    font-weight: normal;
}

h2 {
    font-size: 18px;
    margin: 0;
}

.full-width {
    width: 100%;
}

.columns {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

label {
    font-size: 13px;
    display: block;
    margin-bottom: 2px;
    margin-left: 2px;
}

.columns > * {
    flex: 1;
}

.input-group {
    margin-top: 8px;
    margin-bottom: 8px;
}

.checkbox-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 12px 0;
}

.checkbox-item label {
    margin-bottom: 0;
    margin-left: 4px;
}

select {
    box-sizing: border-box;
    border: 2px solid #7B7B7B;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.06);
    outline: none;
    border-radius: 5px;
    padding: 6px 8px 6px 4px;
}

input {
    box-sizing: border-box;
    border: 2px solid #7B7B7B;
    background-color: #FCFCFC;
    box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.06);
    outline: none;
    border-radius: 5px;
    padding: 6px 8px 6px 8px;
}

input[type="checkbox"] {
    transform: scale(1.5);
}




.tab-buttons {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-end;
    height: 32px;
    padding: 0 8px;
}

.tab-button {
    font-size: 12px;
    border: 1.7px solid #838383;
    padding: 5px 10px 6px 10px;
    border-radius: 3px 3px 0 0;
    border-bottom-width: 0;
    transform: translateY(1.8px);
    cursor: pointer;
    user-select: none;
}

.tab-button.active {
    background-color: #FFFFFF;
}




.collapsible {
    margin-bottom: 16px;
}

.collapsible > header {
    border-bottom: 1.7px solid #838383;
    font-size: 13px;
    font-weight: bold;
    padding: 0 2px 2px 4px;
}

.collapsible > header::after {
    content: '▲';
    float: right;
}

.collapsible > main {
    padding: 4px;
}

.collapsible.collapsed > header::after {
    content: '▼'
}

.collapsible.collapsed > main {
    display: none;
}